<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codegenerator -->
      <package
            uri="http:///tda593/hotel/california.ecore"
            class="tda593.hotel.california.CaliforniaPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codegenerator -->
      <package
            uri="http:///tda593/hotel/california/booking.ecore"
            class="tda593.hotel.california.booking.BookingPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codegenerator -->
      <package
            uri="http:///tda593/hotel/california/booking/persistence.ecore"
            class="tda593.hotel.california.booking.persistence.PersistencePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codegenerator -->
      <package
            uri="http:///tda593/hotel/california/facilities.ecore"
            class="tda593.hotel.california.facilities.FacilitiesPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codegenerator -->
      <package
            uri="http:///tda593/hotel/california/facilities/persistence.ecore"
            class="tda593.hotel.california.facilities.persistence.PersistencePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codegenerator -->
      <package
            uri="http:///tda593/hotel/california/billing.ecore"
            class="tda593.hotel.california.billing.BillingPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codegenerator -->
      <package
            uri="http:///tda593/hotel/california/billing/persistence.ecore"
            class="tda593.hotel.california.billing.persistence.PersistencePackage"/>
   </extension>

</plugin>
