<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codegenerator -->
      <package
            uri="http:///tda593/hotel/california.ecore"
            class="tda593.hotel.california.CaliforniaPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codegenerator -->
      <package
            uri="http:///tda593/hotel/california/discount.ecore"
            class="tda593.hotel.california.discount.DiscountPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codegenerator -->
      <package
            uri="http:///tda593/hotel/california/facilities.ecore"
            class="tda593.hotel.california.facilities.FacilitiesPackage"/>
   </extension>

</plugin>
